/* orbitron-regular - latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/orbitron-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* orbitron-700 - latin */
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/orbitron-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/orbitron-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #2C2C2C;
    font-family: 'Orbitron';
    font-weight: 300;
}

.team1, .team2 {
    margin: 4rem 2rem;
    display: inline-block;
}

.team1 {
    padding: 3rem;
}

.team2 {
    padding: 3rem;
}

.score {
    position: relative;
    border-radius: 20px;
    background-color: #000;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team1 .score {
    border: 3px solid #97F5BB;
}

.team2 .score {
    border: 3px solid #525DF4;
}

.score span {
    color: #FDF860;
    font-size: 3rem;
    display: block;
}

#teamName1 {
    position: absolute;
    bottom: -15px;
    background-image: linear-gradient(#000, #2C2C2C);
    padding: 0 15px;
    color: #fff;
}

#teamName2 {
    position: absolute;
    bottom: -15px;
    background-image: linear-gradient(#000, #2C2C2C);
    padding: 0 15px;
    color: #fff;
}

.buttons {
    margin-top: 2rem;
    text-align: center;
}

.btn {
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    font-family: 'Lato';
    font-size: 1.2rem;
}

#button1, #button2, #button3 {
    background-color: #97F5BB;
}

#button4, #button5, #button6 {
    background-color: #525DF4;
}

.reset {
    text-align: center;
}

.reset .btn {
    color: #000;
    padding: 0.5rem 1.5rem;
}